/* @font-face {
  font-family: "EB Garamond";
  src: url("./eb-garamond.woff2") format("woff2-variations");
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("./eb-garamond-italic.woff2") format("woff2-variations");
  font-style: italic;
  font-weight: 400 800;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace";
  src: url("./monaspace.woff2") format("woff2-variations");
  font-weight: 200 800;
  font-style: oblique -11deg 0deg;
  font-display: swap;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

html {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: clamp(125%, calc(125% + 4 * (100vw - 390px) / 320), 150%);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: var(--bg);
  color: var(--text);
}

body {
  padding: calc(env(safe-area-inset-top) + 1rem) calc(env(safe-area-inset-right) + 1rem)
    calc(env(safe-area-inset-bottom) + 2rem) calc(env(safe-area-inset-left) + 1rem);
  width: 100%;
  max-width: 100%;
  line-height: 1.45;
}

main {
  width: 100%;
  margin: auto;
  container: main / inline-size;
}

nav {
  max-width: calc(650px + 6.8rem);
  display: flex;
  gap: 0.7rem;
  justify-content: flex-end;
  margin: 0 auto;
  position: sticky;
  top: 1rem;
  z-index: 1;
}

main > *,
main > details > * {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

main pre:has(> code) {
  min-width: min(calc(100vw - 2.66rem - env(safe-area-inset-left) - env(safe-area-inset-right)), 650px);
  width: min(calc(100vw - 2.66rem - env(safe-area-inset-left) - env(safe-area-inset-right)), 800px);
  max-width: fit-content;
}

main p:has(.katex-display) {
  min-width: min(calc(100vw - 2.66rem - env(safe-area-inset-left) - env(safe-area-inset-right)), 650px);
  width: fit-content;
  max-width: calc(100vw - 2.66rem - env(safe-area-inset-left) - env(safe-area-inset-right));
  margin: 0 auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

main h1:first-of-type,
main header:first-of-type {
  margin-top: 0.5rem;
}

p {
  text-wrap: pretty;
  margin: 1.2rem auto;
}

blockquote {
  margin: 1rem auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  line-height: calc(1em + 0.45rem);
  margin: 1.2rem 0;
  font-weight: 600;
}

h1 {
  margin: 2.2rem auto;
  font-size: 2.2em;
}

h2 {
  margin: 1.8rem auto;
  font-size: 1.8em;
}

h3 {
  margin: 1.4rem auto;
  font-size: 1.4em;
}

h4 {
  font-size: 1.1em;
}

code {
  font-family: "Monaspace", "Monaspace", ui-monospace, monospace;
  font-size: 0.778em;
  font-weight: 360;
  font-feature-settings: "calt" 1;
}

strong {
  font-weight: 670;
}

math,
math * {
  user-select: none;
  -webkit-user-select: none;
}

.katex {
  font-size: 0.96em;
}

.katex-display {
  will-change: transform;
}

.katex-display > .katex {
  overflow: auto hidden;
  scrollbar-width: thin;
}

.katex-display .katex {
  font-size: 1.05em;
  padding: 0.15rem;
}

.katex-display > .katex > .katex-html > .tag {
  position: fixed;
  user-select: none;
}

.katex-display:not(:has(.tag)) > .katex {
  white-space: normal;
}

.katex-display:has(.tag) .katex-html::after {
  content: "\200b";
  /* could tailor-fit server-side for every equations (incl. responsive variants) */
  padding: 0.8em;
}

.katex .frac-line {
  border-radius: 0.5em;
}

.no-wrap {
  white-space: nowrap;
}

blockquote {
  padding: 0.6rem 1rem;
  background-color: var(--blockquote-bg);
  border-left: 5px solid var(--blockquote-border);
}

blockquote :first-child {
  margin-top: 0;
}

blockquote :last-child {
  margin-bottom: 0;
}

hr {
  color: var(--hr);
  margin: 2em 0;
}

a {
  color: inherit;
  text-decoration: underline dotted 2px;
}

a:visited {
  color: var(--visited-a);
  font-style: italic;
}

header {
  margin: 2rem auto;
}

header h1,
header p {
  margin: 0.5rem auto;
}

details {
  display: contents;
}

details summary {
  user-select: none;
  margin: 1rem auto;
}

#dark-mode {
  display: grid;
  width: max-content;
  user-select: none;
  border: none;
  padding: 0;
}

@media print {
  #dark-mode {
    visibility: hidden;
  }
  /* TODO: Avoid breaking images and code blocks across pages. */
}

.katex:has(~ .katex-display),
#dark-mode input,
#dark-mode legend,
#dark-mode label span,
#share-link span,
#share-link #share-link-parent {
  position: absolute;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

#dark-mode label,
#share-link {
  border-radius: 5px;
  border: 1px solid var(--blockquote-border);
  background-color: var(--bg);
  user-select: none;
}

#dark-mode label {
  padding: 0.37rem 0.8rem;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

#share-link button {
  --icon: var(--icon-share);
  background: transparent;
  height: 100%;
  border: none;
  padding: 0 0.7rem 0 0.3rem;
}

#share-link.success button {
  --icon: var(--icon-share-success);
  --icon-color: green;
}

#share-link.error button {
  --icon: var(--icon-share-error);
  --icon-color: red;
}

#share-link.copy button {
  --icon: var(--icon-share-copy);
}

#share-link label {
  --icon: var(--icon-share-file);
  padding-left: 0.7rem;
  padding-right: 0.12rem;
}

#share-link:has(:checked) label {
  --icon: var(--icon-share-folder);
}

#dark-mode label::after,
#share-link button::after,
#share-link label::after {
  content: "";
  background-color: var(--icon-color, var(--text));
  display: inline-block;
  mask: var(--icon) no-repeat 50% 50%;
  mask-size: cover;
  width: 1em;
  height: 1em;
  margin-bottom: -0.165rem;
}

#share-link button::before {
  content: "•";
  display: inline-block;
  margin-right: 0.6rem;
  font-size: 0.8em;
}

#share-link button::after {
  margin-bottom: -0.19rem;
}

#share-link label::after {
  margin-bottom: -0.205rem;
}

#dark-mode [for="dark-system"]::after {
  /* --icon: var(--icon-system-theme); */
}

@media (prefers-color-scheme: dark) {
  :root:has(#dark-mode [value="other"]:checked) {
    color-scheme: light;
  }

  :root:not(:has(#dark-mode [value="other"]:checked)) code.hljs {
    filter: brightness(0.9);
  }

  #dark-mode [for="dark-self"]::after {
    /* --icon: var(--icon-dark); */
  }

  #dark-mode [for="dark-other"]::after {
    /* --icon: var(--icon-light); */
  }

  #dark-mode [for="dark-self"] .light,
  #dark-mode [for="dark-other"] .dark {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root:has(#dark-mode [value="other"]:checked) {
    color-scheme: dark;
  }

  :root:has(#dark-mode [value="other"]:checked) code.hljs {
    filter: brightness(0.9);
  }

  #dark-mode [for="dark-self"]::after {
    /* --icon: var(--icon-light); */
  }

  #dark-mode [for="dark-other"]::after {
    /* --icon: var(--icon-dark); */
  }

  #dark-mode [for="dark-self"] .dark,
  #dark-mode [for="dark-other"] .light {
    display: none;
  }
}

#dark-mode.system:has(input#dark-system:checked) [for="dark-other"],
#dark-mode.system:has(input#dark-other:checked) [for="dark-self"],
#dark-mode.system:has(input#dark-self:checked) [for="dark-system"] {
  opacity: initial;
  z-index: 1;
}

#dark-mode.system:has(input#dark-system:checked:focus-visible) [for="dark-other"],
#dark-mode.system:has(input#dark-other:checked:focus-visible) [for="dark-self"],
#dark-mode.system:has(input#dark-self:checked:focus-visible) [for="dark-system"] {
  outline: 2px solid var(--text);
}

.diarytime > .line-block {
  text-align: center;
  width: fit-content;
  margin-left: auto;
  font-style: italic;
}

.diarytime {
  margin: 1em auto;
}

.book,
.poem,
.poem-indent {
  margin: 0 auto;
}

.book {
  text-align: left;
  hyphens: auto;
}

.book :is(:not(h1, h2, h3, h4, h5, h6)) {
  text-indent: var(--indent) each-line;
}

@media (min-width: 475px) {
  .book {
    text-align: justify;
    text-justify: inter-word;
  }
}

.book p {
  margin: 0;
}

.poem p {
  margin: 0.9em auto;
}

.n {
  hyphens: manual;
}

.poem,
.poem-indent {
  hyphens: manual;
  text-align: left;
  width: fit-content;
}

:is(.poem, .poem-indent) :not(:is(h1, h2, h3, h4, h5, h6)) {
  text-indent: var(--indent) each-line hanging;
}

.poem-indent {
  padding: 0.2rem var(--indent);
}

:root {
  color-scheme: light dark;

  --indent: min(calc(0.7rem + 2.75vw), 1.8rem);

  --bg: light-dark(#fffff8, black);
  --text: light-dark(#111, #ddd);
  --visited-a: light-dark(gray, lightgray);
  --blockquote-bg: light-dark(whitesmoke, #444444);
  --blockquote-border: light-dark(lightgray, #888888);
  --hr: light-dark(whitesmoke, dimgray);
  /* Code themes are Atom One Light and Atom One Dark
     with background colors slightly adjusted. */
  --code-base: light-dark(#fbf8f4, #282c34c0);
  --code-mono-1: light-dark(#383a42, #abb2bf);
  --code-mono-2: light-dark(#686b77, #818896);
  --code-mono-3: light-dark(#a0a1a7, #5c6370);
  --code-hue-1: light-dark(#0184bb, #56b6c2);
  --code-hue-2: light-dark(#4078f2, #61aeee);
  --code-hue-3: light-dark(#a626a4, #c678dd);
  --code-hue-4: light-dark(#50a14f, #98c379);
  --code-hue-5: light-dark(#e45649, #e06c75);
  --code-hue-5-2: light-dark(#c91243, #be5046);
  --code-hue-6: light-dark(#986801, #d19a66);
  --code-hue-6-2: light-dark(#c18401, #e6c07b);

  /* --icon-dark: url("./icon/moon.svg");
  --icon-light: url("./icon/sun.svg");
  --icon-system-theme: url("./icon/contrast.svg"); */
  --icon-share: url("./icon/share.svg");
  --icon-share-success: url("./icon/success.svg");
  --icon-share-error: url("./icon/error.svg");
  --icon-share-copy: url("./icon/copy.svg");
  --icon-share-file: url("./icon/file.svg");
  --icon-share-folder: url("./icon/folder.svg");
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.7rem;
  border-radius: 0.4rem;
  line-height: 1.45;
}

code.hljs {
  padding: 3px 5px;
  border-radius: 3px;
}

.hljs {
  color: var(--code-mono-1);
  background: var(--code-base);
}
.hljs-comment,
.hljs-quote {
  color: var(--code-mono-3);
  font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: var(--code-hue-3);
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: var(--code-hue-5);
}
.hljs-literal {
  color: var(--code-hue-1);
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: var(--code-hue-4);
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: var(--code-hue-6);
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: var(--code-hue-2);
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: var(--code-hue-6-2);
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
