<!doctype html>
<html $if(lang)$lang="$lang$"$else$lang="en"$endif$>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
    $if(date-meta)$
    <meta name="dcterms.date" content="$date-meta$" />
    $endif$
    $if(description-meta)$
    <meta name="description" content="$description-meta$" />
    $endif$
    $if(math)$
    <link rel="preload" href="/.assets/KaTeX_AMS-Regular.woff2" as="font" type="font/woff2" />
    <link rel="preload" href="/.assets/KaTeX_Math-Italic.woff2" as="font" type="font/woff2" />
    <link rel="stylesheet" href="/.assets/katex.css" />
    $endif$
    <link rel="preload" href="/.assets/eb-garamond.woff2" as="font" type="font/woff2" />
    <link rel="preload" href="/.assets/eb-garamond-italic.woff2" as="font" type="font/woff2" />
    $if(code)$
    <link rel="preload" href="/.assets/monaspace.woff2" as="font" type="font/woff2" />
    $endif$
    <link rel="stylesheet" href="/.assets/archive.css" />
    <noscript>
      <link rel="stylesheet" href="/.assets/archive-noscript.css" />
    </noscript>
    $for(header-includes)$
    $header-includes$
    $endfor$
  </head>
  <body>
    $for(include-before)$
    $include-before$
    $endfor$
    <nav data-share-link-root="prepend">
      <fieldset id="dark-mode">
        <legend>Theme preference</legend>
        <input type="radio" id="dark-self" name="theme" value="self" checked />
        <label for="dark-self"><span class="light">Light</span><span class="dark">Dark</span></label>
        <input type="radio" id="dark-system" name="theme" value="system" />
        <label for="dark-system"><span>System default</label>
        <input type="radio" id="dark-other" name="theme" value="other" />
        <label for="dark-other"><span class="light">Light</span><span class="dark">Dark</span></label>
      </fieldset>
    </nav>
    <main>
      $if(style)$
      <div class="$style$">
      $endif$
      $if(title)$
      <header id="title" $if(header-style)$class="$header-style$"$endif$>
        <h1>$title$</h1>
        $if(subtitle)$
        <p>$subtitle$</p>
        $endif$
      </header>
      $endif$
      $if(Message)$
      <p class="message">$Message$</p>
      $endif$
      $if(tree-with-header)$
      $if(Tree)$
      <section>
        <ul aria-labelledby="title" class="tree">
          $Tree$
        </ul>
      </section>
      $endif$
      $endif$
$body$
      $if(tree-with-header)$
      $else$
        $if(Tree)$
        <figure class="more">
          <figcaption>Read more</figcaption>
          <ul class="tree">
            $Tree$
          </ul>
        </figure>
        $endif$
        <a href="$IndexHref$" class="index-link">></a>
      $endif$
      $if(style)$
      </div>
      $endif$
    </main>
    <script src="/.assets/archive.js"></script>
    ${share()}
    $for(include-after)$
    $include-after$
    $endfor$
  </body>
</html>
