<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>$title$</title>
    $for(css)$
    <link rel="stylesheet" href="$css$" />
    $endfor$
  </head>
  <body>
$body$
    <script>
      document.querySelectorAll(".katex:has(.tag)").forEach((e) => {
        const tag = e.querySelector(".tag");
        let timer;
        tag.addEventListener("pointerover", (ev) => {
          if (ev.pointerType === "touch" || e.scrollWidth <= e.clientWidth) return;
          tag.classList.add("hide");
          clearTimeout(timer);
          e.addEventListener(
            "pointerleave",
            (ev) => {
              timer = setTimeout(() => tag.classList.remove("hide"), 100);
            },
            { once: true },
          );
        });
        e.addEventListener("pointermove", (ev) => {
          if (ev.pointerType !== "touch" || e.scrollWidth <= e.clientWidth) return;
          tag.classList.add("hide");
          clearTimeout(timer);
          e.addEventListener(
            "pointerleave",
            (ev) => {
              timer = setTimeout(() => tag.classList.remove("hide"), 2000);
            },
            { once: true },
          );
        });
      });
    </script>
  </body>
</html>
