<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=initial-width, initial-scale=1.0, viewport-fit=cover" />
    <title>$title$</title>
    $for(css)$
    <link rel="stylesheet" href="$css$" />
    $endfor$
    <noscript>
      <link rel="stylesheet" href="static/archive-noscript.css" />
    </noscript>
  </head>
  <body>
    <fieldset id="dark-mode">
      <legend>Theme preference</legend>
      <input type="radio" id="dark-self" name="theme" value="self" checked />
      <label for="dark-self"><span class="light">Light</span><span class="dark">Dark</span></label>
      <input type="radio" id="dark-system" name="theme" value="system" />
      <label for="dark-system"><span>System default</label>
      <input type="radio" id="dark-other" name="theme" value="other" />
      <label for="dark-other"><span class="light">Light</span><span class="dark">Dark</span></label>
    </fieldset>
$body$
    <script src="static/archive.js"></script>
  </body>
</html>
