<style>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  *:not(dialog) {
    margin: 0;
  }

  :root {
    color-scheme: light dark;
    --bg: light-dark(#fffff8, black);
    --text: light-dark(#111, #ddd);
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  html {
    font-size: clamp(125%, calc(125% + 4 * (100vw - 390px) / 320), 150%);
    background-color: var(--bg);
    color: var(--text);
  }

  body {
    padding: calc(env(safe-area-inset-top) + 1rem) calc(env(safe-area-inset-right) + 1rem)
      calc(env(safe-area-inset-bottom) + 2rem) calc(env(safe-area-inset-left) + 1rem);
    width: 100%;
    max-width: 100%;
    line-height: 1.45;
  }

  main {
    width: 100%;
    margin: auto;
    container: main / inline-size;
  }

  main > *,
  main > details > * {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    visibility: hidden;
  }

  math,
  math * {
    display: none;
  }

  .katex {
    font-size: 0.96em;
  }

  .katex-display .katex {
    font-size: 1.05em;
    padding: 0.15rem;
  }

  .katex-display > .katex {
    overflow: auto hidden;
    scrollbar-width: thin;
  }
</style>
