<style>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  *:not(dialog) {
    margin: 0;
  }

  :root {
    color-scheme: light dark;
    --bg: light-dark(#fffff8, black);
    --text: light-dark(#111, #ddd);
  }

  html {
    font-size: clamp(125%, calc(125% + 4 * (100vw - 390px) / 320), 150%);
    background-color: var(--bg);
    color: var(--text);
  }

  body {
    padding: calc(env(safe-area-inset-top) + 1rem) calc(env(safe-area-inset-right) + 1rem)
      calc(env(safe-area-inset-bottom) + 2rem) calc(env(safe-area-inset-left) + 1rem);
    width: 100%;
    max-width: 100%;
    line-height: 1.45;
  }

  main > * {
    visibility: hidden;
  }

  main > :is(header, h1) {
    visibility: visible;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
  }

  nav {
    visibility: hidden;
    height: 2.28em;
  }

  main h1:first-of-type,
  main header:first-of-type {
    margin-top: 0.5rem;
  }

  h1 {
    margin: 2.2rem auto;
    font-size: 2.2em;
  }
</style>
