{{ define "tree" }} {{ range . }}
<li>
  {{ if .IsTree }} {{ if gt (len .Children) 0 }}
  <details {{ if .Open }}open{{ end }}>
    <summary class="entry page">{{ .Name }}</summary>
    <ul class="tree" id="tree-{{ .Slug }}">
      {{ template "tree" .Children }}
    </ul>
  </details>
  {{ else }}
  <a href="{{ .Href }}" class="entry page" id="tree-{{ .Slug }}">{{ .Name }}</a>
  {{ end }} {{ else }}
  <figure>
    <figcaption data-folder="{{ .Folder }}" class="entry" id="tree-{{ .Slug }}">
      <a href="{{ .Href }}" class="page">{{ .Title }}</a>
    </figcaption>
    {{ if .Description }}
    <p>{{ .Description }}</p>
    {{ end }}
  </figure>
  {{ end }}
</li>
{{ end }} {{ end }}
